<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="sales_order_invoice_save_after">
		<observer instance="Kundu\Stockpointchange\Observer\Sales\OrderInvoiceSaveAfter" name="kundu_stockpointchange_observer_sales_orderinvoicesaveafter_sales_order_invoice_save_after"/>
	</event>
</config>
